arcade-ai
arcade_slack
arcadepy
agents-arcade
openai-agents
asyncpg
fastapi
uvicorn[standard]
pydantic
httpx
certifi
redis
celery
python-dotenv
jinja2
sqlalchemy
beautifulsoup4
anyio<4.9
python-multipart
